#matrix::before {
	content: '[m]'
}

#simplex-chat::before {
	content: '💠'
}

#email::before {
	content: '📧'
}

#keyoxide::before {
	content: '🔑'
}

#pgp-key::before {
	content: '🗝'
}

#age-key::before {
	content: '🔑'
}

#bandcamp::before {
	content: '🎵'
}

#fediverse::before {
	content: '⬠'
}
