// .posts {
//   margin: 0 auto;
// }

.post {
  width: 100%;
  text-align: left;

  // %meta {
  //   font-size: 1rem;
  //   margin-bottom: 10px;
  //   color: var(--accent-alpha-70);
  // }

  // &-meta {
  //   @extend %meta;
  // }
  // &-meta-inline {
  //   @extend %meta;

  //   display: inline;
  // }

  &-meta {
    color: var(--on_surface-variant);
    background-color: var(--surface_variant);
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  &-title {
    position: relative;
    color: var(--on_background);
    margin: 0 0 15px;

    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      display: block;
      width: 100%;
      border-bottom: var(--outline);
    }
    
    a {
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 30px;
  }

  ul {
    list-style: none;

    li:before {
      content: '🌵';
      position: absolute;
      left: -20px;
    }
    ul {

      li:before {
        content: '🌳';
        position: absolute;
        left: -20px;
      }

      ul {

        li:before {
          content: '🥦';
          position: absolute;
          left: -20px;
        }

        ul {
          li:before {
            content: '🌲';
            position: absolute;
            left: -20px;
          }

          ul {
            li:before {
              content: '🌽';
              position: absolute;
              left: -20px;
            }

            ul {
              li:before {
                content: '🌻';
                position: absolute;
                left: -20px;
              }
            }
          }
        }
      }
    }
  }
}

.footnote-definition {
  color: var(--accent);

  p {
    display: inline;
    color: var(--footnote-color);
  }
}

.update {
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 0.4rem;
  border-color: var(--primary);
  padding: 0.4rem;
}
