div.toc {
	background-color: var(--secondary_container);
	color: var(--on_secondary_container);
	padding: 0.4rem;
	border-radius: 0.4rem;
	margin-top: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	h2 {
		font-size: 1.2rem;
		margin-top: 0.4rem;
	}
}