:root {
  --primary: #bdc2ff;
  --on_primary: #0000ad;
  --primary_container: #0000f0;
  --on_primary_container: #dfe0ff;
  --secondary: #c5c4dc;
  --on_secondary: #2e2f41;
  --secondary_container: #444559;
  --on_secondary_container: #e1e0fa;
  --background: #1b1b1f;
  --on_background: #e4e1e6;
  --outline: #91909a;
  --surface_variant: #46464f;
  --on_surface_variant: #c7c5d0;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #333cff;
    --on_primary: #ffffff;
    --primary_container: #dfe0ff;
    --on_primary_container: #00006f;
    --secondary: #5c5d72;
    --on_secondary: #ffffff;
    --secondary_container: #e1e0fa;
    --on_secondary_container: #191a2c;
    --background: #fffbff;
    --on_background: #1b1b1f;
    --outline: #777680;
    --surface_variant: #e4e1ec;
    --on_surface_variant: #46464f;
  }
}
