:root {
  color-scheme: light;
  --primary: #1b6d00;
  --on_primary: #ffffff;
  --primary_container: #7aff3d;
  --on_primary_container: #032100;
  --secondary: #55624c;
  --on_secondary: #ffffff;
  --secondary_container: #d8e8cb;
  --on_secondary_container: #131f0d;
  --background: #fdfdf6;
  --on_background: #1a1c18;
  --outline: #73796d;
  --surface_variant: #dfe4d6;
  --on_surface_variant: #43483f;
  --error: #ba1a1a;
  --on_error: #ffffff;
  --error_container: #ffdad6;
  --on_error_container: #410002;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --primary: #44e400;
    --on_primary: #083900;
    --primary_container: #115300;
    --on_primary_container: #7aff3d;
    --secondary: #bccbb0;
    --on_secondary: #273420;
    --secondary_container: #3d4a36;
    --on_secondary_container: #d8e8cb;
    --background: #1a1c18;
    --on_background: #e3e3dc;
    --outline: #8d9287;
    --surface_variant: #43483f;
    --on_surface_variant: #c3c8bb;
    --error: #ffb4ab;
    --on_error: #690005;
    --error_container: #93000a;
    --on_error_container: #ffdad6;
  }
}
