:root {
  color-scheme: light;
  --primary: #9e00c6;
  --on_primary: #ffffff;
  --primary_container: #fed5ff;
  --on_primary_container: #340044;
  --secondary: #6a596c;
  --on_secondary: #ffffff;
  --secondary_container: #fed5ff;
  --on_secondary_container: #241727;
  --background: #fcfcfc;
  --on_background: #1e1a1e;
  --outline: #7e747d;
  --surface_variant: #ecdfe9;
  --on_surface_variant: #4d444d;
  --error: #ba1a1a;
  --on_error: #ffffff;
  --error_container: #ffdad6;
  --on_error_container: #410002;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --primary: #D0BCFF;
    --on_primary: #381E72;
    --primary_container: #4F378B;
    --on_primary_container: #EADDFF;
    --secondary: #CCC2DC;
    --on_secondary: #332D41;
    --secondary_container: #4A4458;
    --on_secondary_container: #E8DEF8;
    --background: #1C1B1F;
    --on_background: #E6E1E5;
    --outline: #938F99;
    --surface_variant: #49454F;
    --on_surface_variant: #CAC4D0;
    --error: #ffb4ab;
    --on_error: #690005;
    --error_container: #93000a;
    --on_error_container: #ffdad6;
  }
}
