:root {
  color-scheme: light;
  --primary: #c1000d;
  --on_primary: #ffffff;
  --primary_container: #ffdad4;
  --on_primary_container: #410001;
  --secondary: #775652;
  --on_secondary: #ffffff;
  --secondary_container: #ffdad5;
  --on_secondary_container: #2c1512;
  --background: #fcfcfc;
  --on_background: #211a19;
  --outline: #857371;
  --surface_variant: #f5ddda;
  --on_surface_variant: #534341;
  --error: #ba1a1a;
  --on_error: #ffffff;
  --error_container: #ffdad6;
  --on_error_container: #410002;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --primary: #ffb3a9;
    --on_primary: #680003;
    --primary_container: #940007;
    --on_primary_container: #ffdad4;
    --secondary: #e7bcb7;
    --on_secondary: #442a27;
    --secondary_container: #5d3f3b;
    --on_secondary_container: #ffdad5;
    --background: #211a19;
    --on_background: #ede0de;
    --outline: #a08c89;
    --surface_variant: #534341;
    --on_surface_variant: #d8c2bf;
    --error: #ffb4ab;
    --on_error: #690005;
    --error_container: #93000a;
    --on_error_container: #ffdad6;
  }
}
