{%- macro logo() -%}
<div class="logo">
    {%- if config.extra.favicon is defined -%}
        {%- if config.extra.logo.margin -%}
            <img class="logo-margin" width="160" height="160" src="{{ get_url(path=config.extra.favicon.href) }}"/>
        {%- else -%}
            <img width="160" height="160" src="{{ get_url(path=config.extra.favicon.href) }}" alt="{{ config.extra.favicon.alt }}"/>
        {%- endif -%}
    {%- endif -%}

    <a href="{%- if config.extra.logo_home_link -%}{{ config.extra.logo_home_link }}{%- else -%}{{ config.base_url }}{%- endif -%}">
        {{config.extra.logo_text | default(value="Terminal") }}
    </a>
</div>
{%- endmacro logo -%}
