{% macro menu() %}
    <nav id="menu">
        <details open>
            <summary>Menu</summary>
            <ul>
                {{ menu::items(menu=config.extra.main_menu) }}
            </ul>
        </details>
    </nav>
{% endmacro menu %}

{% macro items(menu) %}
    {%- for menu_item in menu -%}
        {# skipping sub-child check #}
        <li>
            <a href="{{ menu::get_link(item=menu_item) }}">{{ menu_item.name }}</a>
        </li>
    {%- endfor-%}
{% endmacro items %}

{% macro get_link(item) %}
    {% if item.external is defined and item.external == true %}
        {{ item.url }}
    {% else %}
        {{ get_url(path=item.url) }}
    {% endif %}
{% endmacro get_link %}
