{% macro author(page) %}
    ::
    {% if page.extra.author.username -%}
        {{ page.extra.author.username }}
    {%- else -%}
        {{ config.extra.author.username }}
    {%- endif -%}
{%- endmacro author-%}

{% macro date(page) %}
    {%- if page.date -%}
        {{ page.date | date(format="%Y-%m-%dT%H:%M:%S%z") }}
    {%- endif -%}
{%- endmacro date-%}

{% macro date_updated(page) %}
    {%- if page.extra["updated"] -%}
        {{ page.extra["updated"] | date(format="%Y-%m-%dT%H:%M:%S%z") }}
    {%- endif -%}
{%- endmacro date-%}

{% macro date_custom_format(page) %}
    {%- if page.date -%}
        {{ page.date | date(format=config.extra.date_format) }}
    {%- endif -%}
{%- endmacro date-%}

{% macro date_custom_format_updated(page) %}
    {%- if page.extra["updated"] -%}
        {{ page.extra["updated"] | date(format=config.extra.date_format) }}
    {%- endif -%}
{%- endmacro date-%}

{% macro date_element(page) %}
    {%- if page.date -%}
        <time datetime="{{ utils::date(page=page) }}">{{ utils::date(page=page) }}</time>
    {%- endif -%}
{%- endmacro date-%}

{% macro date_updated_element(page) %}
    {%- if page.extra["updated"] -%}
        [Updated: <time datetime="{{ utils::date_updated(page=page) }}">{{ utils::date_updated(page=page) }}</time>]
    {%- endif -%}
{%- endmacro date-%}

{% macro date_custom_format_element(page) %}
    {%- if page.date -%}
        <time datetime="{{ utils::date(page=page) }}">{{ utils::date_custom_format(page=page) }}</time>
    {%- endif -%}
{%- endmacro date-%}

{% macro date_custom_format_updated_element(page) %}
    {%- if page.extra["updated"] -%}
        [Updated: <time datetime="{{ utils::date_updated(page=page) }}">{{ utils::date_custom_format_updated(page=page) }}</time>]
    {%- endif -%}
{%- endmacro date-%}
